################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/healthcare-microservices/copilot-chat/55713ec5/sessions
/.vs/healthcare-microservices/CopilotIndices/17.14.827.52834
/.vs/healthcare-microservices/FileContentIndex
/Appointments/Appointments/obj/Debug/net7.0
/Clinics/bin/Debug/net8.0
/Clinics/obj/Container
/Clinics/obj/Debug/net8.0/ref
/Clinics/obj/Debug/net8.0
/Clinics/obj
/Clinics/Properties
/Patient/obj
/Patient/Patient/bin/Debug/net8.0
/Patient/Patient/obj
/Patient/Patient/Properties
*.tmp
/Patient/Patient.Application/bin/Debug/net8.0
/Patient/Patient.Application/obj
/Patient/Patient.Infrastructure/bin/Debug/net8.0
/Patient/Patient.Infrastructure/obj/Debug/net8.0
/Patient/Patient.Infrastructure/obj
/Patient/Properties
/SharedKernal/SharedKernal/bin/Debug/net8.0
/SharedKernal/SharedKernal/obj/Debug/net8.0
/SharedKernal/SharedKernal/obj
/Patient/Patient.Domain/obj/Patient.Domain.csproj.nuget.dgspec.json
/.vs/healthcare-microservices/DesignTimeBuild
/.vs/healthcare-microservices/v17
/Appointments/Appointments/obj/Debug/net8.0/Appointments.AssemblyInfo.cs
/Appointments/Appointments/obj/Debug/net8.0/Appointments.AssemblyInfoInputs.cache
/Appointments/Appointments/obj/Appointments.csproj.nuget.dgspec.json
/Appointments/Appointments/obj/Appointments.csproj.nuget.g.props
/Appointments/Appointments/obj/Appointments.csproj.nuget.g.targets
/Appointments/Appointments/obj/project.assets.json
/Appointments/Appointments/obj/project.nuget.cache
